.body{
	position: absolute;
width: 88.9%;
height: 1320px;
left: 206px;
top: 219px;
filter: alpha(Opacity=50);
    opacity: 0.5;

background-size: cover;

}

.head{
	position: absolute;
width: 100%;
height: 219px;
left: 0px;
top: 0px;


background-size: 100%;
}

.logo{
	position: absolute;
width: 106px;
height: 119px;
left: 100px;
top: 38px;
border-radius: 10%;

}

.back{
	position: absolute;
	
	width: 274px;
	height: 64px;
	left: 100px;
	top: 115px;
}

.text1{
	position: absolute;
width: 828px;
height: 117px;
left: 700px;
top: -70px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 117px;



color: #F8F2F4;

text-shadow: 10px 0px 2px #000000;
}


.left{
	position: absolute;
	width: 206px;
	height: 1320px;
	left: 0px;
	top: 219px;
	
	
}

.down{
	position: absolute;
width: 100%;
height: 110px;
left: 0px;
top: 1535px;

background: #5C6864;
}

.text2{
	position: absolute;
width: 252px;
height: 62px;
left: 100px;
top: 1535px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;

color: #F8F2F4;

text-shadow: 10px 0px 2px #000000;
}

.glav{
	position: absolute;
width: 232px;
height: 45px;
left: 678px;
top: 255px;

background: #C4C4C4;
}

.textglav{
	position: absolute;
width: 133px;
height: 48px;
left: 727px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
color: #000000;
font-weight:600;
}

.zamer{
	position: absolute;
width: 232px;
height: 45px;
left: 930px;
top: 255px;

background: #C4C4C4;
}

.textzamer{
	position: absolute;
width: 130px;
height: 48px;
left: 979px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
/* identical to box height */
font-weight:600;

color: #000000;
}

.otzv{
	position: absolute;
width: 232px;
height: 45px;
left: 1182px;
top: 255px;

background: #C4C4C4;
}

.textotzv{
	position: absolute;
width: 144px;
height: 48px;
left: 1232px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;

font-weight:600;
color: #000000;
}


.mail{
position: absolute;
width: 60px;
height: 60px;
left: 1600px;
top: 1570px;




}

.inst{
	position: absolute;
width: 60px;
height: 60px;
left: 1670px;
top: 1570px;


}

.korss{
	position: absolute;
width: 355px;
height: 422px;
left: 555px;
top: 438px;

background: #D2CABF;
}

.kors1{
	position: absolute;
width: 331px;
height: 296px;
left: 579px;
top: 464px;


}

.textkors{
	position: absolute;
width: 167px;
height: 40px;
left: 579px;
top: 725px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
font-weight:600;


color: #000000;

}

.textkors1{
	position: absolute;
	width: 160px;
	height: 33px;
	left: 579px;
	top: 770px;
	
	font-family: 'Poiret One', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	font-weight:600;
	color: #000000;

}

.korscircle{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 779px;
	top: 775px;
	
	background: #D2B49C;
	border: 2px solid #000000;
	box-sizing: border-box;
	
}


.korskorzina{
	position: absolute;
	width: 45px;
	height: 40px;
left: 845px;
top: 800px;


}


.korss2{
	position: absolute;
width: 355px;
height: 422px;
left: 1055px;
top: 438px;

background: #B5ABA9;
}

.kors2{
	position: absolute;
width: 331px;
height: 296px;
left: 1079px;
top: 464px;


}

.textkors2{
	position: absolute;
width: 167px;
height: 40px;
left: 1079px;
top: 725px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;

font-weight:600;

color: #000000;

}

.textkors3{
	position: absolute;
	width: 160px;
	height: 33px;
	left: 1079px;
	top: 770px;
	
	font-family: 'Poiret One', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 33px;
	font-weight:600;
	color: #000000;

}

.korscircle2{
	position: absolute;
	width: 25px;
	height: 25px;
	left: 1279px;
	top: 775px;
	
	background: black;
	border: 2px solid #000000;
	box-sizing: border-box;
	
}


.korskorzina2{
	position: absolute;
	width: 45px;
	height: 40px;
left: 1345px;
top: 800px;


}

.korss3{
	position: absolute;
	width: 358px;
	height: 474px;
	left: 552px;
	top: 970px;
	

background: #8D8D8D;
}


.kors3{
	position: absolute;
	width: 331px;
	height: 341px;
	left: 579px;
	top: 998px;
	
	
}

.textkors4{
	position: absolute;
width: 101px;
height: 40px;
left: 579px;
top: 1305px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
font-weight:600;


color: #000000;
}

.textkors5{
	position: absolute;
	width: 160px;
height: 33px;
left: 579px;
top: 1350px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
font-weight:600;
color: #000000;
}


.korscircle3{
	position: absolute;
width: 25px;
height: 25px;
left: 779px;
top: 1358px;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;

}


.korskorzina3{
	position: absolute;
	width: 45px;
	height: 40px;
left: 845px;
top: 1379px;


}



.korss4{
	position: absolute;
	width: 358px;
	height: 474px;
	left: 1055px;
	top: 970px;
	

background: #9A9A98;
}


.kors4{
	position: absolute;
	width: 331px;
	height: 341px;
	left: 1082px;
	top: 998px;
	
	
}

.textkors6{
	position: absolute;
width: 101px;
height: 40px;
left: 1082px;
top: 1305px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
font-weight:600;


color: #000000;
}

.textkors7{
	position: absolute;
	width: 160px;
height: 33px;
left: 1082px;
top: 1350px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
font-weight:600;
color: #000000;
}


.korscircle4{
	position: absolute;
width: 25px;
height: 25px;
left: 1279px;
top: 1358px;

background: #000000;
border: 2px solid #000000;
box-sizing: border-box;

}


.korskorzina4{
	position: absolute;
	width: 45px;
	height: 40px;
left: 1345px;
top: 1379px;


}