.body{
	position: absolute;
width: 88.9%;
height: 1800px;
left: 206px;
top: 219px;


background-size: cover;
filter: alpha(Opacity=50);
    opacity: 0.5;
}

.head{
	position: absolute;
width: 100%;
height: 219px;
left: 0px;
top: 0px;


background-size: 100%;
}

.logo{
	position: absolute;
width: 106px;
height: 119px;
left: 100px;
top: 38px;
border-radius: 10%;

}

.back{
	position: absolute;
	
	width: 274px;
	height: 64px;
	left: 100px;
	top: 115px;
}

.text1{
	position: absolute;
width: 828px;
height: 117px;
left: 700px;
top: -70px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 117px;



color: #F8F2F4;

text-shadow: 10px 0px 2px #000000;
}


.left{
	position: absolute;
	width: 206px;
	height: 1800PX;
	left: 0px;
	top: 219px;
	
	
}

.down{
	position: absolute;
width: 100%;
height: 110px;
left: 0px;
top: 2000px;

background: #5C6864;
}

.text2{
	position: absolute;
width: 252px;
height: 62px;
left: 100px;
top: 2000px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;

color: #F8F2F4;

text-shadow: 10px 0px 2px #000000;
}

.glav{
	position: absolute;
width: 232px;
height: 45px;
left: 678px;
top: 255px;

background: #C4C4C4;
}

.textglav{
	position: absolute;
width: 133px;
height: 48px;
left: 727px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
color: #000000;
font-weight:600;
}

.zamer{
	position: absolute;
width: 232px;
height: 45px;
left: 930px;
top: 255px;

background: #C4C4C4;
}

.textzamer{
	position: absolute;
width: 130px;
height: 48px;
left: 979px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
font-weight:600;


color: #000000;
}

.otzv{
	position: absolute;
width: 232px;
height: 45px;
left: 1182px;
top: 255px;

background:  #798582;
}

.textotzv{
	position: absolute;
width: 144px;
height: 48px;
left: 1232px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
text-shadow: 0px 4px 4px rgb(255, 255, 255);
font-weight:600;
color:  #FFFFFF;
}

.mail{
position: absolute;
width: 60px;
height: 60px;
left: 1600px;
top: 2030px;





}

.inst{
	position: absolute;
width: 60px;
height: 60px;
left: 1670px;
top: 2030px;


}


.otz1{
	position: absolute;
width: 358px;
height: 410px;
left: 552px;
top: 350px;


}

.otz2{
	position: absolute;
width: 358px;
height: 410px;
left: 1056px;
top: 350px;


}

.otz3{
	position: absolute;
width: 358px;
height: 410px;
left: 552px;
top: 860px;


}

.otz4{
	position: absolute;
width: 358px;
height: 410px;
left: 1056px;
top: 860px;


}

.otz5{
	position: absolute;
width: 358px;
height: 410px;
left: 552px;
top: 1370px;


}

.otz6{
	position: absolute;
width: 358px;
height: 410px;
left: 1056px;
top: 1370px;


}

.circle1{
	position: absolute;
width: 237px;
height: 223px;
left: 1308px;
top: 306px;
border-radius: 50%;
background: #BAB5A2;
}

.circle2{
	position: absolute;
width: 358px;
height: 342px;
left: 678px;
top: 499px;
border-radius: 50%;
background: #C1B2AF;
}

.circle3{
	position: absolute;
width: 232px;
height: 242px;
left: 930px;
top: 819px;
border-radius: 50%;
background: #85181D;
}

.circle4{
	position: absolute;
width: 231px;
height: 231px;
left: 426px;
top: 1115px;
border-radius: 50%;
background: #4D101B;
}

.circle5{
	position: absolute;
width: 232px;
height: 230px;
left: 804px;
top: 1320px;
border-radius: 50%;
background: #7F7E7B;
}

.circle6{
	position: absolute;
width: 232px;
height: 232px;
left: 930px;
top: 1617px;

background: #636363;
border-radius: 50%;
}