.body{
	position: absolute;
width: 88.9%;
height: 1320px;
left: 206px;
top: 219px;
filter: alpha(Opacity=50);
    opacity: 0.5;

background-size: cover;

}

.head{
	position: absolute;
width: 100%;
height: 219px;
left: 0px;
top: 0px;


background-size: 100%;
}

.logo{
	position: absolute;
width: 106px;
height: 119px;
left: 100px;
top: 38px;
border-radius: 10%;

}

.back{
	position: absolute;
	
	width: 274px;
	height: 64px;
	left: 100px;
	top: 115px;
}

.text1{
	position: absolute;
width: 828px;
height: 117px;
left: 700px;
top: -70px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 117px;



color: #F8F2F4;

text-shadow: 10px 0px 2px #000000;
}


.left{
	position: absolute;
	width: 206px;
	height: 1320px;
	left: 0px;
	top: 219px;
	
	
}

.down{
	position: absolute;
width: 100%;
height: 110px;
left: 0px;
top: 1500px;

background-color: #5C6864;
}

.text2{
	position: absolute;
width: 252px;
height: 62px;
left: 100px;
top: 1500px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 53px;

color: #F8F2F4;

text-shadow: 10px 0px 2px #000000;
}

.glav{
	position: absolute;
width: 232px;
height: 45px;
left: 678px;
top: 255px;

background: #C4C4C4;
}

.textglav{
	position: absolute;
width: 133px;
height: 48px;
left: 727px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
color: #000000;
font-weight:600;
}

.zamer{
	position: absolute;
width: 232px;
height: 45px;
left: 930px;
top: 255px;

background: #C4C4C4;
}

.textzamer{
	position: absolute;
width: 130px;
height: 48px;
left: 979px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
/* identical to box height */
font-weight:600;

color: #000000;
}

.otzv{
	position: absolute;
width: 232px;
height: 45px;
left: 1182px;
top: 255px;

background: #C4C4C4;
}

.textotzv{
	position: absolute;
width: 144px;
height: 48px;
left: 1232px;
top: 215px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
font-weight:600;

color: #000000;
}

.mail{
position: absolute;
width: 60px;
height: 60px;
left: 1600px;
top: 1530px;




}

.inst{
	position: absolute;
width: 60px;
height: 60px;
left: 1670px;
top: 1530px;


}

.k{
	position: absolute;
width: 349px;
height: 425px;
left: 561px;
top: 411px;

background: #D2CABF;
}

.k1{
	position: absolute;
width: 324px;
height: 372px;
left: 552px;
top: 373px;


}

.textk{
	position: absolute;
width: 316px;
height: 37px;
left: 590px;
top: 715px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 37px;
font-weight:600;
color: #000000;
}

.textk1{
	position: absolute;
width: 170px;
height: 33px;
left: 590px;
top: 755px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
font-weight:600;
color: #000000;
}


.kcircle{
	position: absolute;
width: 25px;
height: 25px;
left: 790px;
top: 786px;

background: #000000;
border: 2px solid #000000;
box-sizing: border-box;

}

.korzina{
	position: absolute;
width: 45px;
height: 40px;
left: 850px;
top: 777px;


}

.k1:hover{
	position: absolute;
width: 324px;
height: 372px;
left: 552px;
top: 373px;

content: url(k12.jpg);
}

.kk{
	position: absolute;
width: 349px;
height: 425px;
left: 1061px;
top: 411px;

background: #B5ABA9;
}

.k2{
	position: absolute;
width: 324px;
height: 372px;
left: 1052px;
top: 373px;


}

.textk2{
	position: absolute;
width: 316px;
height: 37px;
left: 1100px;
top: 715px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 37px;
font-weight:600;
color: #000000;
}

.textkk2{
	position: absolute;
width: 170px;
height: 33px;
left: 1100px;
top: 755px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 37px;
font-weight:600;
color: #000000;
}

.kcircle2{
	position: absolute;
width: 25px;
height: 25px;
left: 1290px;
top: 786px;
border: 50%;
background: #6B5B5C;
border: 2px solid #000000;
box-sizing: border-box;

}

.korzina2{
	position: absolute;
	width: 45px;
	height: 40px;
left: 1350px;
top: 777px;


}

.k2:hover{
	position: absolute;
width: 324px;
height: 372px;
left: 1052px;
top: 373px;

content: url(k23.jpg);
}

.kkk{
	position: absolute;
width: 349px;
height: 398px;
left: 561px;
top: 1004px;

background: #8D8D8D;
}

.k3{
	position: absolute;
width: 324px;
height: 372px;
left: 552px;
top: 947px;


}

.textk3{
	position: absolute;
width: 316px;
height: 37px;
left: 590px;
top: 1285px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
font-weight:600;
color: #000000;

}

.textkk3{
	position: absolute;
width: 170px;
height: 33px;
left: 590px;
top: 1330px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
font-weight:600;
color: #000000;
}

.kcircle3{
	position: absolute;
width: 25px;
height: 25px;
left: 780px;
top: 1360px;

background: #B08D8B;
border: 2px solid #000000;
box-sizing: border-box;

}

.korzina3{
	position: absolute;
	width: 45px;
	height: 40px;
left: 850px;
top: 1345px;


}


.k3:hover{
	position: absolute;
width: 324px;
height: 372px;
left: 552px;
top: 947px;

content: url(k31.jpg);
}


.kkkk{
	position: absolute;
width: 349px;
height: 398px;
left: 1061px;
top: 1004px;

background: #8D8D8D;
}

.k4{
	position: absolute;
width: 324px;
height: 372px;
left: 1052px;
top: 947px;


}

.textk4{
	position: absolute;
width: 316px;
height: 37px;
left: 1100px;
top: 1285px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 40px;
font-weight:600;
color: #000000;

}

.textkk4{
	position: absolute;
width: 170px;
height: 33px;
left: 1100px;
top: 1330px;

font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 33px;
font-weight:600;
color: #000000;
}

.kcircle4{
	position: absolute;
width: 25px;
height: 25px;
left: 1280px;
top: 1360px;


border: 2px solid #000000;
box-sizing: border-box;

background: #8C465F;
}

.korzina4{
	position: absolute;
	width: 45px;
	height: 40px;
left: 1350px;
top: 1345px;


}


.k4:hover{
	position: absolute;
width: 324px;
height: 372px;
left: 1052px;
top: 947px;

content: url(k32.jpg);
}